.app-container {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(130, 185, 233);
}

.landing-container {
  color: inherit;
}

.dash-container {
  color: inherit;
  display: flex;
  flex-direction: column;
}

.header {
  height: 50px;
  width: 100vw;
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
}
